@{
    ViewBag.Title = "Home Page";
}
<h3>Welcome to dashbaord</h3>
<div>
    <img src="~/Images/excel-2010-basic-column-chart-after-insertion.png" width="300" /><br />
    <img src="~/Images/piechart.gif" /><br />
</div>
<div class="col-sm-12" align="right" style="max-width:300px;">
    <button class="btn btn-primary">Back</button>
</div>
