@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/Home/ConductSurvey" method="get">
    <label>User Token:</label>
    <input id="token" name="userToken" value="" />
    <label>NotificationId</label>
    <input name="notificationId" value="" />
    <label>Culture:</label>
    <input name="culture" value="en" type="radio" checked id="ee" /><label for="ee">English&nbsp;&nbsp;</label>
    <input name="culture" value="fr" type="radio" id="ff" /><label for="ff">French</label>
    <button type="submit" class="btn btn-primary" id="gosurvey">Start Survey</button>
</form>