@{
    ViewBag.Title = "RemoveRespondant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RemoveRespondant(for testing only)</h2>

<form action="/Home/RemoveRespondant" method="post" id="removeform">
    <label>UserToken:</label>
    <input name="userToken" value="" />
    <button type="submit" class="btn btn-primary">Remove</button>
</form>

